#!/bin/sh

USER_IP_FILE="{{ remember_file }}"

if [ ${PAM_TYPE} != "open_session" ]; then
    exit 0
fi

USER_IP="${PAM_USER} ${PAM_RHOST}"
USER_IP="$(echo ${USER_IP} | sha256sum -z)"

if [ ! -z "$(grep "^${USER_IP}$" ${USER_IP_FILE})" ]; then
    exit 0
fi

umask 066
echo "${USER_IP}" >> ${USER_IP_FILE}

# Your Email Information: Recipient (To:), Subject and Body
RECIPIENT="{{ recipient }}"
SUBJECT="{{ subject }}"

BODY="A SSH login was successful, so here are some information for security:
    User:        $PAM_USER
    User IP Host: $PAM_RHOST
    Service:     $PAM_SERVICE
    TTY:         $PAM_TTY
    Date:        `date`
    Server:      `uname -a`
"

echo "${BODY}" | mail -s "${SUBJECT}" "${RECIPIENT}"

exit 0
