#!/bin/sh

if [ ${PAM_TYPE} != "open_session" ]; then
    exit 0
fi

# Your Email Information: Recipient (To:), Subject and Body
RECIPIENT="{{ recipient }}"
SUBJECT="{{ subject }}"

BODY="A SSH login was successful, so here are some information for security:
    User:        $PAM_USER
    User IP Host: $PAM_RHOST
    Service:     $PAM_SERVICE
    TTY:         $PAM_TTY
    Date:        `date`
    Server:      `uname -a`
"

echo "${BODY}" | mail -s "${SUBJECT}" "${RECIPIENT}"

exit 0
